.first {
    background-color: rgb(88, 190, 177);
    border: 3px solid black;
    text-align: justify;
}

@media screen and (600px <= width) 
{
    div{
        width: 25%;
    }
    div.first
    {
        background-color:pink;
        /* overflow:auto; */
        height: 100%;
        
        display:inline-table;  
    }
    div.second
    {
        background-color:rgb(29, 175, 53);
        /* overflow:auto; */
        height: 100%;
        
        /* display: inline-block; */
        display:inline-table;
    }
    div.third
    {
        background-color:rgb(36, 160, 218);
        /* overflow:auto; */
        height: 100%;
        /* display: inline-block; */
        display:inline-table;
    }
}

h2{
    text-align: center;
    color: bisque;
}

.second {
    background-color: rgb(88, 190, 134);
    border: 3px solid black;
    text-align: justify;
}

.third {
    background-color: rgb(190, 163, 88);
    border: 3px solid black;
    text-align: justify;
}