.entire{
    border: 2px solid black;
    height: 500px;
    width: 70%;
    margin: auto;
    display: flex;
}
h1{
    text-align: center;
}
.container1{
   
   width: 40%;
   padding: 50px;
   border-right: 1px solid grey;
}
input{
    float: right;
    width: 200px;
}
.container2{
    
    width: 40%;
    padding: 50px;
}
.name{
    width: 90px;
    margin-right: 5px;
}
.flight{
    width: 100%;
}
input[type = "radio"]{
    float: none;
    width: 10px;
}
p{
    padding-bottom: 5px;
}
.right{
    padding-bottom: 30px;
}